<div class="box">
  <span>
    <h1>Kursy walut</h1>
  </span>

  <span>
    <b>Data odczytu: </b>{{ (effectiveDate$ | async) | date : 'YYYY-MM-dd' }}
  </span>

  <span>
    <b>Numer tabeli: </b> {{ tableNumber$ | async }}
  </span>

  <div class="table-view">
    <table mat-table [dataSource]="rates$ | async" class="mat-elevation-z8">

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Kod waluty </th>
        <td mat-cell *matCellDef="let element"> {{element.currencyCode}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.currencyName}} </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Kurs </th>
        <td mat-cell *matCellDef="let element"> {{element.rate | number: '1.4-4' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <h3>Brak danych</h3>
        </td>
      </tr>
    </table>

  </div>
</div>

